.App {
  text-align: center;
  color: black;
  font-family: "Ubuntu", sans-serif;
  background: #fefefe;
}

a {
  color: #eee;
  text-decoration: none;
}

.header {
  position: fixed;
  height: 65px;
  width: 100vw;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 3px solid #057ED3;
  z-index: 2;
}

.my-name {
  position: absolute;
  left: 20px;
}

.header-content {
  min-width: 200px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-button {
  font-size: 18px;
  transition: background-color, padding, font-size, 400ms;
}

.header-button:hover {
  color: #057ED3;
}

.content {
  height: 91vh;
}

.welcome-container {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/34153/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 0% 40%;
}

.welcome-cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.welcome-cover:hover {
  display: block;
}

#welcome-content {
  background-size: cover;
  color: white;
  /* color: #057ED3; */
  text-shadow: black 2px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}

.welcome-button {
  font-size: 21px;
  color: black;
  border: 3px solid white;
  background: white;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  transition: 300ms;
  text-shadow: none;
  /* box-shadow: #057ED3 1px 0 10px; */
}

.welcome-button:hover {
  cursor: pointer;
  /* background: #0EF79B; */
  /* border-color: #0EF79B; */
  /* color: #242834; */
  background: #057ED3;
  border-color: #057ED3;
  color: black;
}

.projects-container {
  height: auto;
  padding-top: 80px;
  width: 100vw;
  /* background: white; */
}

.small-link {
  transition: color 400ms;
  font-size: 20px;
  text-decoration: underline;
  color: #057FD2;
}

.small-link:hover {
  color: #7C00FF;
}

.project-name {
  color: #057FD2;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  transition: color 400ms;
}

.project-name:hover {
  color: #7C00FF;
}

#project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-bottom: 50px;
}

.project {
  /* height: 25%; */
  min-width: 300px;
  width: 85%;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-top: 50px;
}

#project-4 {
  /* margin-top: 100px; */
}

.project-image {
  background-size: cover;
  background-position: center;
  height: 400px;
  min-width: 300px;
  width: 100%;
  justify-self: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#p4-image {
  background-image: url("https://i.imgur.com/cibV9JR.png");
}

#p3-image {
  background-image: url("https://i.imgur.com/TEDCNZw.png");
  background-position: left;
}

#p2-image {
  background-image: url("https://i.imgur.com/GxJ5KBw.png");
  background-position: left;
}

#p1-image {
  background-image: url("https://i.imgur.com/6IcnWlD.png");
}

.project-img {
  height: auto;
  background-image: url("https://i.imgur.com/kXywAAV.png");
  background-size: contain;
  min-width: 300px;
  width: 95%;
  margin-bottom: 15px;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
}

.project-description {
  text-align: left;
  min-width: 300px;
  width: 95%;
  justify-self: center;
}

.project-description h1 {
  margin-top: 0;
}

.about-container {
  height: auto;
  min-height: 45vh;
  width: 100vw;
  /* background: #121212; */
  /* background: #A1A1A1; */
  padding-top: 80px;
}

.about-container h1 {
  text-decoration: underline;
}

#about-content {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  text-align: left;
  margin-top: 100px;
  height: auto;
}

.about {
  text-align: center;
  width: 50%;
  justify-self: center;
  font-size: 22px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.about p {
  margin-top: 0;
}

.profile-img {
  width: 300px;
  /* border-radius: 100%; */
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.30);
  /* border: 1px solid white; */
  align-self: center;
  justify-self: center;
}

.icon-container {
  background: rgba(0, 0, 0, 0.5);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.contact-container {
  min-height: calc(80vh - 80px);
  height: auto;
  max-height: 2000px;
  width: 100vw;
  /* background: linear-gradient(to bottom right, #aaa, #999); */
  padding-top: 80px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  width: 75%;
  max-width: 500px;
  height: 40px;
  border: none;
  margin: 5px;
  font-size: 16px;
  font-family: helvetica;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

input:focus {
  outline: none;
}

textarea {
  width: 298px;
  width: 75%;
  max-width: 498px;
  height: 200px;
  border: none;
  margin: 5px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

textarea:focus {
  outline: none;
}

.submit-button {
  min-width: 150px;
  width: 10%;
  max-width: 300px;
  border-radius: 5px;
  transition: 300ms;
  font-size: 16px;
}

.submit-button:hover {
  cursor: pointer;
  background: #057ED3;
}

.footer-container {
  min-height: 80px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content a {
  transition: color 400ms;
}

.footer-content a:hover {
  color:#057FD2;
}

.footer-content {
  min-width: 200px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.burger {
  display: block;
  height: 4px;
  background: white;
  width: 45px;
  margin: 2px;
  border-radius: 2px;
}

.burger-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 500ms, height 500ms, width 500ms;
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

@media only screen and (max-width: 600px) {
  .burger-container {
    /* display: flex; */
  }

  .header-content {
    /* display: none; */
    width: 75%;
    font-size: 12px;
    position: absolute;
    right: 0;
  }

  #about-content {
    grid-template-columns: 1fr;
  }

  .about {
    justify-self: center;
    /* font-size: 15px; */
    position: relative;
    bottom: 10px;
    z-index: 1;
    margin-top: 15px;
    width: 90%;
    text-align: center;
  }

  .my-name {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .project a {
    max-width: 300px;
  }

  .project {
    max-width: 300px;
  }

  .project {
    max-width: 100vw;
    width: 100%;
  }

  .project-description {
    max-width: 300px;
    justify-self: left;
  }

  .project-image {
    height: 300px;
    width: 90%;
    margin-left: 2px;
    justify-self: left;
  }
}
